@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.game-screen {
  height: 100%;
  display: flex;
  background: linear-gradient(to top left, #182e69, #000000);
  font-family: "Press Start 2P", sans-serif !important;
}

#game-title {
  font-size: 50px;
  color: #eee;
}

.btn-dark {
  color: #eee;
  background-color: #222;
  text-align: center;
  border: 3px solid #eee !important;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1%;
}

.user {
  justify-content: flex-start;
  flex-basis: 10vmax;
}

.role-logo {
  flex-basis: 10vmax;
  border: 6px solid #eee;
  background-color: #eee;
  border-radius: 10px;
}

.hp-nrg {
  color: #eee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5vmax;
  flex-basis: 30%;
  align-content: center;
}

#hps {
  text-align: center;
  font-size: 2vmin;
}

#nrgs {
  text-align: center;
  font-size: 2vmin;
}

#drink-hp {
  font-size: 2vmin;
}

#drink-nrg {
  font-size: 2vmin;
}

.potions {
  width: 5vmax;
}

.pots {
  display: flex;
  justify-content: space-around;
  flex-basis: 20vmax;
  margin-bottom: 2%;
}

#player-data {
  color: #eee;
  margin-top: 15px;
  border-bottom: 10px solid #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#player-name {
  flex-basis: 10vmax;
  margin-top: 15px;
}

#main {
  display: flex;
  height: 50%;
  justify-content: space-around;
  margin: 5%;
  flex-wrap: wrap;
  align-items: flex-start;
}

#story-block {
  border: 7px solid #eee;
  background: linear-gradient(to top left, #e9e9e9, #111113);
  height: 30vmax;
  min-width: 200px;
  width: 30%;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 2%;
}

#main-story {
  color: #333;
  max-height: 100%;
  width: 90%;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: #eee;
  text-align: center;
  margin: 2%;
  font-size: 2vmin;
  padding: 1%;
}

.story-title {
  border-bottom: 5px solid #eee;
  background-color: #1a0000;
  color: #eee;
  text-align: center;
  justify-content: center;
  padding-top: 3.75%;
  padding-bottom: 3.75%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  font-size: 2vmin;
}

#next-button {
  text-align: center;
  padding: 0;
  margin: 5%;
}

#next-story {
  flex-basis: 2vmax;
  font-size: 2vmin;
  align-self: center;
}

#combat-block {
  border: 7px solid #eee;
  background: linear-gradient(to top left, #e9e9e9, #111113);
  height: 30vmax;
  min-width: 200px;
  width: 30%;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 2%;
}

.combat-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: space-between;
  height: 100%;
}

#mob-img {
  display: flex;
  justify-content: center;
  flex-basis: 20vmax;
  margin-left: 2%;
  margin-right: 2%;
}
#mob-pic {
  border: 5px solid #eee;
  border-radius: 3px;
  max-width: 90%;
  padding: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#mob-info {
  border-bottom: 5px solid #eee;
  background-color: #1a0000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

#mob-name {
  color: #eee;
  text-align: center;
  margin-top: 2%;
  font-size: 2vmin;
}

#mob-hp-text {
  color: #eee;
  text-align: center;
  margin-top: 2%;
  font-size: 2vmin;
}

.attack {
  display: flex;
  justify-content: space-evenly;
  height: 3vmax;
  flex-wrap: wrap;
}

.attacks {
  font-size: 1vmin;
  justify-content: space-evenly;
  flex-basis: 1vmin;
}

#skills {
  text-align: center;
  justify-content: space-evenly;
  font-size: 1.3vmin;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content-hp {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 65%;
  bottom: 90%;
  background-color: #333;
  padding: 5px;
  max-width: fit-content;
  color: #eee;
  border: 3px solid #eee;
  border-radius: 8px;
}
.tooltip-wrap:hover .tooltip-content-hp {
  display: block;
}

.tooltip-wrap .tooltip-content-nrg {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 65%;
  bottom: 90%;
  background-color: #333;
  padding: 5px;
  max-width: fit-content;
  color: #eee;
  border: 3px solid #eee;
  border-radius: 8px;
}
.tooltip-wrap:hover .tooltip-content-nrg {
  display: block;
}

.tooltip-wrap .tooltip-content-player {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 30%;
  bottom: 50%;
  background-color: #eee;
  padding: 5px;
  max-width: fit-content;
  color: #333;
  border: 3px solid #333;
  border-radius: 8px;
}
.tooltip-wrap:hover .tooltip-content-player {
  display: block;
}
