@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  background: linear-gradient(to top left, #182e69, #000000);
  font-family: "Press Start 2P", sans-serif !important;
}

#game-title {
  font-size: 50px;
  color: #eee;
}

.btn-dark {
  color: #eee;
  background-color: #222;
  text-align: center;
  border: 3px solid #eee !important;
}

.role-logo {
  max-width: 100px;
  border: 6px solid #eee;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 5%;
}

#player-data {
  color: #eee;
  margin-top: 15px;
  border-bottom: 10px solid #eee;
  border-radius: 10px;
}

#player-name {
  max-width: 200px;
  margin-top: 5%;
  margin-right: 0px;
  margin-left: 0px;
}

#story-block {
  border: 7px solid #eee;
  background: linear-gradient(to top left, #e9e9e9, #111113);
  opacity: 100%;
  height: 450px;
  max-height: 450px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 8.5%;
  border-radius: 10px;
  padding: 0px;
}

#main-story {
  color: #333;
  max-height: 530px;
  max-width: 400px;
  margin: 20px;
  padding: 10px;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: #eee;
  text-align: center;
}

#story-title {
  border-bottom: 5px solid #eee;
  background-color: #1a0000;
  color: #eee;
  text-align: center;
  justify-content: center;
  padding-top: 3.75%;
  padding-bottom: 3.75%;
  padding-right: 0;
  padding-left: 0;
  max-width: 448px;
}

#next-button {
  text-align: center;
  padding: 0;
}

#next-story {
  max-width: fit-content;
  max-height: 20px;
}

#combat-block {
  border: 7px solid #eee;
  background: linear-gradient(to top left, #e9e9e9, #111113);
  opacity: 100%;
  height: 450px;
  max-height: 450px;
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 10px;
  padding: 0px;
}
.combat-content {
  margin-left: 10%;
}
.attack-1-dmg {
  white-space: pre;
}
.attack-2-dmg {
  white-space: pre;
}
.attack-3-dmg {
  white-space: pre;
}
.attack-4-dmg {
  white-space: pre;
}

#mob-pic {
  border-left: 5px solid #eee;
  border-right: 5px solid #eee;
  border-bottom: 5px solid #eee;
  border-radius: 3px;
}

#button-master {
  align-items: end;
}

#mob-info {
  border-bottom: 5px solid #eee;
  background-color: #1a0000;
}

#mob-img {
  text-align: center;
  padding: 0;
}

#mob-name {
  color: #eee;
  text-align: center;
  margin-top: 5px;
}

#mob-hp-text {
  color: #eee;
  text-align: center;
  margin-bottom: 5px;
}

.attacks {
  font-size: 10px;
  margin: 5px;
}

#skills {
  text-align: center;
  margin: 5px;
  font-size: 10px;
  color: #222;
}

#hps {
  text-align: center;
}

#nrgs {
  text-align: center;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content-hp {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 65%;
  bottom: 90%;
  background-color: #333;
  padding: 5px;
  max-width: fit-content;
  color: #eee;
  border: 3px solid #eee;
  border-radius: 8px;
}
.tooltip-wrap:hover .tooltip-content-hp {
  display: block;
}

.tooltip-wrap .tooltip-content-nrg {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 65%;
  bottom: 90%;
  background-color: #333;
  padding: 5px;
  max-width: fit-content;
  color: #eee;
  border: 3px solid #eee;
  border-radius: 8px;
}
.tooltip-wrap:hover .tooltip-content-nrg {
  display: block;
}

.tooltip-wrap .tooltip-content-player {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 30%;
  bottom: 50%;
  background-color: #eee;
  padding: 5px;
  max-width: fit-content;
  color: #333;
  border: 3px solid #333;
  border-radius: 8px;
}
.tooltip-wrap:hover .tooltip-content-player {
  display: block;
}
